.codeEditor {
    height: 100%;
}

.compileBtn {
  background-color: #1a73e8;
  color: white;
  border: none;
  padding: 10px 16px;
  font-size: 1rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 8px;
  float: right;
}

.lang {
    float: left;
    padding: 10px 16px;
    color: darkslategray;
}